    <% if(@price_per_distance.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @price_per_distance.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @price_per_distance) do |f| %>
  <div>
    <%= f.label :starting_km %>
    <%= f.number_field :starting_km %>
  </div>
  <div>
    <%= f.label :final_km %>
    <%= f.number_field :final_km %>
  </div>
  <div>
    <%= f.label :fixed_price %>
    <%= f.number_field :fixed_price, step: :any %>
  </div>
  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>