<% if(@model_type.errors.any?) %>
  <p> Verifique os erros abaixo: </p>
  <ul>
    <% @model_type.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @model_type) do |mt| %>
  <div>
    <%= mt.label :name %>
    <%= mt.text_field :name %>
  </div>
  <div>
    <%= mt.label :starting_km %>
    <%= mt.number_field :starting_km %>
  </div>
  <div>
    <%= mt.label :final_km %>
    <%= mt.number_field :final_km %>
  </div>
  <div>
    <%= mt.label :deadline %>
    <%= mt.number_field :deadline %>
  </div>
  <div>
    <%= mt.label :transport_model_id %>
    <%= mt.collection_select :transport_model_id, @transport_models, :id, :name %>
  </div>
  <div>
    <%= mt.submit "Enviar" %>
  </div>
<% end %>
