<hr/>
<h1><%= @transport_model.name %></h1>
<dl>
  <dt>Distância Mínima Percorrida:</dt>
  <dd><%= @transport_model.minimum_distance %>km</dd>
  <dt>Distância Máxima Percorrida:</dt>
  <dd><%= @transport_model.maximum_distance %>km</dd>
  <dt>Peso Mínimo da Carga:</dt>
  <dd><%= @transport_model.minimum_weight %>kg</dd>
  <dt>Peso Máximo da Carga:</dt>
  <dd><%= @transport_model.maximum_weight %>kg</dd>
  <dt>Taxa Fixa de Entrega:</dt>
  <dd>R$ <%= @transport_model.tax %>,00</dd>
</dl>
<% if current_user.admin? %>
  <div>
    <%= link_to "Editar Modalidade #{@transport_model.name}", edit_transport_model_path(@transport_model), :class=>"link-dark"%>
  </div>
<% end %>
<hr/>
<h2>Modalidades de Entregas</h2>
<table>
  <tr>
    <td> Tipo de Modalidade </td>
    <td> Distância Inicial </td>
    <td> Distância Final </td>
    <td> Tempo de Entrega </td>
  </tr>
  <% @transport_model.model_types.each do |md| %>
    <tr>
      <td><%= md.name %></td>
      <td><%= md.starting_km %> km</td>
      <td><%= md.final_km %> km</td>
      <td><%= md.deadline %> horas</td>
      <% if current_user.admin? %>
        <td><%= link_to 'Editar Tipo de Entrega', edit_model_type_path(md), :class=>"link-dark" %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<% if current_user.admin? %>
  <div>
    <%= link_to "Cadastrar Novo Tipo de Modalidade de Entrega", new_model_type_path, :class=>"link-dark" %>
  </div>
<% end %>
<hr/>
<h2>Veículos Cadastrados nessa Modalidade</h2>
<% @transport_model.carriers.each do |carrier| %>
  <div>
    <%= carrier.drivers_name %> - <%= carrier.vehicle_model %> <%= carrier.nameplate %>
  </div>
<% end %>
<div>
  <%= link_to 'Voltar', transport_models_path, :class=>"link-dark" %>
</div>
