<hr/>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <div>
      <%= link_to 'Editar Modalidade', edit_transport_model_path(@transport_model)%>
    </div>
  <% end %>
<% end %>
<h1><%= @transport_model.name %></h1>
<dl>
  <dt>Distância Mínima Percorrida:</dt>
  <dd><%= @transport_model.minimum_distance %>km</dd>
  <dt>Distância Máxima Percorrida:</dt>
  <dd><%= @transport_model.maximum_distance %>km</dd>
  <dt>Peso Mínimo da Carga:</dt>
  <dd><%= @transport_model.minimum_weight %>kg</dd>
  <dt>Peso Máximo da Carga:</dt>
  <dd><%= @transport_model.maximum_weight %>kg</dd>
  <dt>Taxa Fixa de Entrega:</dt>
  <dd>R$ <%= @transport_model.tax %>,00</dd>
</dl>
<h2>Veículos Cadastrados nessa Modalidade:</h2>
<% @transport_model.carriers.each do |carrier| %>
  <div>
    <%= carrier.drivers_name %> - <%= carrier.vehicle_model %> <%= carrier.nameplate %>
  </div>
<% end %>
<div>
  <%= link_to('Voltar', transport_models_path) %>
</div>
