<div>
  <%= link_to 'Editar Modalidade', edit_transport_model_path(@transport_model)%>
</div>

<h1><%= @transport_model.name %></h1>
<dl>
  <dt>Distância Mínima Percorrida:</dt>
  <dd><%= @transport_model.minimum_distance %>km</dd>
  <dt>Distância Máxima Percorrida:</dt>
  <dd><%= @transport_model.maximum_distance %>km</dd>
  <dt>Peso Mínimo da Carga:</dt>
  <dd><%= @transport_model.minimum_weight %>kg</dd>
  <dt>Peso Máximo da Carga:</dt>
  <dd><%= @transport_model.maximum_weight %>kg</dd>
  <dt>Taxa Fixa de Entrega:</dt>
  <dd>R$ <%= @transport_model.tax %>,00</dd>
</dl>

<div>
  <%= link_to('Voltar', transport_models_path) %>
</div>

# colocar os veiculos cadastrados nessa modalidade