<h1>Ordens de Serviço</h1>
<hr/>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <div>
      <%= link_to 'Nova Ordem de Serviço', new_order_of_service_path, :class=>"link-dark" %>
    </div>
    <br>
  <% end %>
<% end %>

<div>
<%= form_with(url: search_order_of_services_path, method: :get) do |f| %>
<%= f.label :query, 'Buscar Ordem de Serviço' %>
<%= f.text_field :query %>
<%= f.submit 'Buscar', :class => "btn btn-outline-dark" %>
<% end %>
<br>
</div>

<div>
  <% if @order_of_services.any? %>
    <% @order_of_services.each do |order| %>
      <dl>
        <dt>
          <h4>Serviço <%= link_to order.order_service_code, order, :class=>"link-dark" %> </h4>
        </dt>
        <dd>
          <p>Carga de <%= order.product_weight%>kg para percorrer uma distância de <%= order.distance%>km </p>
        </dd>
        <dd>
          <p>Saindo de <%= order.full_sender_address%> para o destino de <%= order.recipient_full_address%></p>
        </dd>
        <dd>
          <p><strong>Status: <%= OrderOfService.human_attribute_name("status.#{order.status}") %> </strong></p>
        </dd>
      </dl>
      <hr/>
    <% end %>
  <% end %>
  <div>
    <% if @order_of_services.empty? %>
      <p>Nenhuma Ordem de Serviço Cadastrada.</p>
    <% end %>
  </div>

