<hr/>
<% if current_user.admin? %>
  <% if @order_of_service.pending? %>
    <div>
      <%= link_to 'Editar Ordem de Serviço', edit_order_of_service_path(@order_of_service), :class=>"link-dark"%>
    </div>
  <% end %>
<% end %>
<h2>Ordem de Serviço - Código <%= @order_of_service.order_service_code %></h2>
<dl>
  <dt>Endereço Completo da Saída da Carga:</dt>
  <dd><%= @order_of_service.full_sender_address %></dd>
  <dt>Código do Produto:</dt>
  <dd><%= @order_of_service.product_code %></dd>
  <dt>Dimensões da Carga:</dt>
  <dd><%= @order_of_service.product_length %>cm x <%= @order_of_service.product_width %>cm x <%= @order_of_service.product_height %>cm </dd>
  <dt>Peso da Carga:</dt>
  <dd><%= @order_of_service.product_weight %>kg</dd>
  <dt>Endereço Completo do Destinatário:</dt>
  <dd><%= @order_of_service.recipient_full_address %></dd>
  <dt>Nome do Destinatário:</dt>
  <dd><%= @order_of_service.recipients_name %></dd>
  <dt>Distância que a carga vai percorrer:</dt>
  <dd><%= @order_of_service.distance %>km</dd>
  <dt><strong>Status:</dt>
    <dd><%= OrderOfService.human_attribute_name("status.#{@order_of_service.status}") %> </strong></dd>
</dl>
<div>
  <%= link_to 'Voltar', order_of_services_path, :class=>"link-dark" %>
</div>
<hr/>

<% if @order_of_service.pending? %>
<section id="start_service_orders">
  <h2>Realizar Entrega</h2>
  <% @select_transport_model.each do |tp| %>
    <dt>
      <h4><strong><%= tp.transport_model.name %>:</strong></h4>
    </dt>
    <% tp.transport_model.model_types.each do |model| %>
      <dd><strong><%= model.name %>:</strong> <%= model.deadline %> horas - <%= number_to_currency(model.price + tp.transport_model.tax + @sum) %></dd>
    <% end %>
  <% end %>
  <hr/>
  <% if !@carriers.empty? %>
    <%= form_with(model: [@order_of_service, @start_service_order]) do |f| %>
      <div>
        <%= f.label(:carrier_id, 'Veículos para Entrega') %>
        <%= f.collection_select(:carrier_id, @carriers, :id, :description_carrier) %>
        <br/>
        <%= f.label(:model_type_id, 'Tipo de Entrega') %>
        <%= f.collection_select(:model_type_id, @model_types, :id, :name) %>
        <%= f.submit 'Confirmar Entrega', :class => "btn btn-outline-dark"%>
      </div>
    <% end %>
  <% else %>
    <p> Não há veículos para essa Ordem de Serviço </p>
  <% end %>
</section>
<% end %>

<% if @order_of_service.on_route? %>
    <h3> Ordem de Serviço já está em rota de entrega!</h3>
    <p>Saída: <%= I18n.l(@order_of_service.delivery_date, format: "%d de %B de %Y") %></p>
    <dt>Detalhes:</dt>

      <dd> Entrega: <%= @model_type.name %></dd>
      <dd> Valor Total da Entrega: <%= number_to_currency(@carrier_start_service_order.transport_model.tax + @sum + @model_type.price) %> </dd>
      <dd> Prazo de Entrega: <%= @model_type.deadline %> horas</dd>

    <%= button_to 'Marcar como Entregue', delivered_order_of_service_path(@order_of_service.id), :class => "btn btn-outline-dark" %>
  <% end %>

  <% if @order_of_service.delivered? %>
  <h3> Ordem de Serviço Concluída! </h3>
  <p> Data de Saída: <%= I18n.l(@order_of_service.delivery_date, format: "%d de %B de %Y") %> - Data de Entrega: <%= I18n.l(@order_of_service.final_date, format: "%d de %B de %Y") %> </h3>
  <dt>Detalhes:</dt>

    <dd> Entrega: <%= @model_type.name %></dd>
    <dd> Valor Total da Entrega: <%= number_to_currency(@carrier_start_service_order.transport_model.tax + @sum + @model_type.price) %> </dd>
    <dd> Prazo de Entrega: <%= @model_type.deadline %> horas </dd>

    <% if @timelimit < @model_type.deadline %> 
      <h4>Entrega realizada dentro do prazo.</h4>
    <% end %>
    <% if @timelimit > @model_type.deadline %>
      <h4>Entrega realizada com atraso.</h4>
      <% if @order_of_service.note == nil %>
        <p>Informe o motivo:</p>
        <%= form_with(model: @order_of_service) do |f| %>
          <div>
            <%= f.label :note %>
            <%= f.text_area :note %>
            <%= f. submit 'Enviar', :class => "btn btn-outline-dark"%>
          </div>
        <% end %>
      <% else %>
        <%= @order_of_service.note %>
      <% end %>
    <% end %>
  <% end %>



