    <% if(@delivery_time.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @delivery_time.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>
<%= form_with(model: @delivery_time) do |f| %>
  <div>
    <%= f.label :starting_km %>
    <%= f.number_field :starting_km %>
  </div>
  <div>
    <%= f.label :final_km %>
    <%= f.number_field :final_km %>
  </div>
  <div>
    <%= f.label :deadline %>
    <%= f.number_field :deadline %>
  </div>
  <div>
    <%= f.submit 'Enviar' %>
  </div>
<% end %>
