<h1>Tabela de Prazos de Entrega</h1>
<table>
  <tr>
    <td> Km Inicial </td>
    <td> Km Final </td>
    <td> Prazo de Entrega </td>
  </tr>
  <% @delivery_times.each do |dt|%>
    <tr>
      <td><%= dt.starting_km %> km</td>
      <td><%= dt.final_km %> km</td>
      <td><%= dt.deadline %> horas</td>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <td><%= link_to 'Editar', edit_delivery_time_path(dt), :class=>"link-dark" %> </td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
<hr/>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <h3>Adicionar Novos Valores à Tabela:</h3>
    <%= render 'form' %>
  <% end %>
<% end %>
