<h1>Resultado da busca</h1>
<h2>Ordem de Serviço - Código <%= @order.order_service_code %></h2>
<dl>
  <dt>Endereço Completo da Saída da Carga:</dt>
  <dd><%= @order.full_sender_address %></dd>
  <br>
  <dt>Endereço Completo do Destinatário:</dt>
  <dd><%= @order.recipient_full_address %></dd>
  <br>
  <dt>Nome do Destinatário:</dt>
  <dd><%= @order.recipients_name %></dd>
  <br>
  <% if @order.on_route? %>
    <dt>Data de Saída:</dt>
    <dd><%= I18n.l(@order.delivery_date, format: "%d de %B de %Y") %></dd>
    <br>
  <% end %>
  <% if @carrier != nil %>
    <dt> Informações do Veículo </dt>
    <dd> Motorista: <%= @carrier.drivers_name %> </dd>
    <dd> Placa de Identificação: <%= @carrier.nameplate %> </dd>
    <dd> Modelo do Veículo: <%= @carrier.vehicle_model %> </dd>
    <br>
  <% end %>
  <% if @order.delivered? %>
    <dt>Data de Entrega:</dt>
    <dd><%= I18n.l(@order.final_date, format: "%d de %B de %Y") %></dd>
    <br>
  <% end %>
  <% if @order.final_date != nil %>
    <% if @order.note == nil %>
      <dt> Entrega foi realizada dentro do prazo.</dt>
    <% else %>
      <dt>Entrega realizada com atraso. Motivo:</dt>
      <dd><%= @order.note %></dd>
      <br>
    <% end %>
  <% end %>
  <dt><strong>Status:</dt>
    <dd><%= OrderOfService.human_attribute_name("status.#{@order.status}") %> </strong></dd>
</dl>
