<% if(@price_by_weight.errors.any?) %>
  <p>Verifique os erros abaixo:</p>
  <ul>
    <% @price_by_weight.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    </ul>
  <% end %>
<% end %>
<%= form_with(model: @price_by_weight) do |f| %>
  <div>
    <%= f.label :starting_weight %>
    <%= f.number_field :starting_weight %>
  </div>
  <div>
    <%= f.label :final_weight %>
    <%= f.number_field :final_weight %>
  </div>
  <div>
    <%= f.label :price_per_km %>
    <%= f.number_field :price_per_km, step: :any %>
  </div>
  <div>
    <%= f.submit 'Enviar', :class => "btn btn-outline-dark" %>
  </div>
<% end %>
