<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Frete</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <%= link_to root_path do %>
        <h1>Transportadora AML</h1>
      <% end %>
      <nav>
        <%= link_to 'Ordem de Serviço', order_of_services_path %> |
        <%= link_to 'Modalidades de Transporte', transport_models_path%> |
        <%= link_to 'Veículos Cadastrados', carriers_path%> |
        <%= link_to 'Tabela de Preço por Peso', price_by_weights_path%> |
        <%= link_to 'Tabela de Preço por Distância', price_per_distances_path%> |
        <%= link_to 'Tabela de Prazo de Entrega', delivery_times_path%> |
        <% if user_signed_in? %>
          <%= current_user.user %> |
          <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Entrar', new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <main>
      <div>
        <%= alert %>
        <%= notice %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
